# Non-project-specific build files:
build.xml
local.properties
/gradlew
/gradlew.bat
/gradle
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
# Gradle builds
/build

**/.DS_Store

**/*.m4a
**/*.mp3
**/*.wav
**/*.pyc
**/*.png

audio
features
dbs
matches
results*
audfprint
qfp/
qfp.db
ISMIR18
audfprint_thomas
audio-light
dataset_main.log